<footer class="c-footer">
  <div class="container">

    <img class="c-brand" src="assets/img/brand-color.svg">


    <div class="u-space-base">
      <ul class="u-unstyle o-list--inline">
        <li class="o-list__item">
          <svg class="o-icon o-icon--inline o-icon--small"><use xlink:href="#icon-volcano"></use></svg>Catania
        </li>
        <li class="o-list__item">
          <svg class="o-icon o-icon--inline o-icon--small"><use xlink:href="#icon-milan"></use></svg>Milano
        </li>
        <li class="o-list__item">
          <svg class="o-icon o-icon--inline o-icon--small"><use xlink:href="#icon-florence"></use></svg>Firenze
        </li>
      </ul>
    </div>


    <div class="c-footer__aside">
      <div>
        <a class="u-space-right-double" href="#">
          <svg class="o-icon o-icon--color o-icon--small"><use xlink:href="#icon-facebook"></use></svg>
        </a>
        <a class="u-space-right-double" href="#">
          <svg class="o-icon o-icon--color o-icon--small"><use xlink:href="#icon-twitter"></use></svg>
        </a>
        <a class="u-space-right-double" target="_blank" href="http://www.nanabianca.it/">
          <img src="/assets/img/icon-nanabianca.png">
        </a>
        <a target="_blank" href="http://www.cii2.com/">
          <img src="/assets/img/icon-cii2.png">
        </a>
      </div>
      <div class="c-footer__menu">
        <ul class="u-unstyle o-list--inline">
          <li class="o-list__item">
            <div class="c-footer__label">Info generali</div>
            <a class="o-link" href="mailto:info@seejay.it">info@seejay.it</a>
          </li>
          <li class="o-list__item">
            <div class="c-footer__label">Servizi e Prodotti</div>
            <a class="o-link" href="mailto:salesl@seejay.it">sales@seejay.it</a>
          </li>
          <li class="o-list__item">
            <div class="c-footer__label">Supporto tecnico</div>
            <a class="o-link" href="mailto:support@seejay.it">support@seejay.it</a>
          </li>
        </ul>
      </div>
    </div>

    <p class="o-text-copyright">
      <small class="o-text--small">
        <span>© 2017 Seejay Srl - Partita IVA 12257931001&nbsp;</span>
        <a class="o-link o-link--gray" href="http://www.seejay.cloud/tos">Termini e Condizioni</a>  -
        <a class="o-link o-link--gray" href="http://www.seejay.cloud/privacy">Condizioni di privacy</a>
      </small>
    </p>

  </div>
</footer>
