<footer class="c-footer">
  <div class="container">
    <img class="c-brand c-brand--color" src="assets/img/brand.svg">
    <small class="o-text--small">© 2017 Seejay Srl - Partita IVA 12257931001<br><a href="http://www.seejay.cloud/tos">Termini e Condizioni</a>  - <a href="http://www.seejay.cloud/privacy">Condizioni di privacy</a></small>

    <div style="width: 10%; float:left; margin-left: 50px;margin-top: -5px">
      <ul>
        <li>Catania</li>
        <li>Milano</li>
        <li>Firenze</li>
      </ul>
    </div>

    <div style="width: 10%;float:left; margin-left: 20px;margin-top: -5px">
      <a href="http://www.seejay.cloud/contact">Informazioni generali</a><br>
      <a href="http://www.seejay.cloud/webinar">Servizi e prodotti</a><br>
      <a href="http://www.seejay.cloud/webinar">Supporto tecnico</a><br>
    </div>

    <div>
      <a target="_blank" href="http://www.nanabianca.it/"><img src="images/icon-nanabianca.png" class=""></a>
      <a target="_blank" href="http://www.cii2.com/"><img src="images/icon-cii2.png" class=""></a>
    </div>
  </div>
</footer>
