<div class="c-nav">
  <img class="c-brand" src="assets/img/brand.svg">
  <div class="c-btn--nav js-nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="c-nav__offices">
    <ul class="u-unstyle o-list">
      <li class="o-list__item">
        <span class="o-text-uppercase">Catania</span>
      </li>
      <li class="o-list__item">
        <span class="o-text-uppercase">Firenze</span>
      </li>
      <li class="o-list__item">
        <span class="o-text-uppercase">Milano</span>
      </li>
    </ul>
  </div>
  <nav class="c-nav__list js-nav-menu">
    <span class="c-nav__divider">Menu</span>
    <a class="c-nav__item" href="#">Social Wall</a>
    <a class="c-nav__item" href="#">Twitter Promote</a>
    <a class="c-nav__item" href="#">Contatti</a>
    <span class="c-nav__divider">Ci trovi su</span>
    <a class="c-nav__item is-inline" href="#">
      <svg class="o-icon o-icon--inverse o-icon--small"><use xlink:href="#icon-facebook"></use></svg>
    </a>
    <a class="c-nav__item is-inline" href="#">
      <svg class="o-icon o-icon--inverse o-icon--small"><use xlink:href="#icon-twitter"></use></svg>
    </a>
  </nav>
</div>
