<div class="c-card c-card--smm">
  <div class="container--fixed">
    <h2 class="c-card__title">
      <span class="c-card__evidence">
        {{ services.social.first }}
      </span>
      {{ services.social.title }}
    </h2>
    <p class="c-card__intro">{{ services.social.intro }}</p>
    <ul class="u-unstyle o-size1/1 o-list o-list--wrap ">
      {% for icon in services.social.icons %}
        <li class="o-list__item u-space-double">
          <svg class="o-icon o-icon--fluid o-icon-{{ icon.name }}"><use xlink:href="#icon-{{ icon.name }}"></use></svg>
        </li>
      {% endfor %}
    </ul>
    <ul class="c-cycle o-list o-list--{{ services.social.wrap }} o-list--{{ services.social.layout }}">
      {% for detail in services.social.details %}
        <li class="c-card__detail o-list__item">
          {% if detail.icon %}
            <svg class="o-icon o-icon--large"><use xlink:href="{{ detail.icon }}"></use></svg>
          {% endif %}
          <h3 class="o-title">
            {{ detail.title }}
          </h3>
          <ul class="u-unstyle o-list--bullet">
            {% for item in detail.list %}
              <li class="o-list__item o-bullet">
                <span class="o-text--small">{{ item.item }}</span>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
