<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="assets/css/style.css">

    </head>
    <body>
      {% include "partials/icons.html" %}
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="page">

          <section class="section c-hero">
            <div class="container">

              {% include "partials/nav.html" %}
              
              <div class="c-hero__payoff">
                <span class="payoff__row">social jokers</span>
                <span class="payoff__row">
                  <span class="payoff__ampersand">&amp;</span>
                  <span class="payoff__sans">developers</span>
                </span>
              </div>

              <div class="c-hero__content">
                <h1 class="c-hero__title">{{ hero.title }}</h1>
                <p class="c-hero__intro">{{ hero.intro }}</p>
              </div>

            </div>
          </section>

          <section class="section section--overlap">
            <div class="container">
              <div class="c-intro u-align-centre">
                <p class="o-paragraph-intro">{{ about.intro }}</p>
                <a class="c-btn c-btn--underline" href="#section-history">La nostra storia</a>
              </div>
            </div>
          </section>

          <div class="u-align-centre">
            <h4 class="o-section-title">Cosa facciamo</h4>
          </div>

          <section class="section section--inverse u-space-vertical">
            <div class="container">

            {% include "partials/services-social.html" %}
            <!--
              {% for item in services %}
                <div class="c-card c-card--{{ item.name }}">
                  <div class="container--fixed">
                    <h2 class="c-card__title">
                      <span class="c-card__evidence">
                        {{ item.first }}
                      </span>
                      {{ item.title }}
                    </h2>
                    <p class="c-card__intro">{{ item.intro }}</p>
                    <ul class="c-cycle o-list o-list--{{ item.list_wrap }} o-list--{{ item.list_layout }}">
                      {% for detail in item.details %}
                        <li class="c-card__detail o-list__item">
                          {% if detail.icon %}
                            <svg class="o-icon o-icon--large"><use xlink:href="{{ detail.icon }}"></use></svg>
                          {% endif %}
                          <h3 class="o-title">
                            {{ detail.title }}
                          </h3>
                          <ul class="u-unstyle o-list--bullet">
                            {% for item in detail.list %}
                              <li class="o-list__item o-bullet">
                                <span class="o-text--small">{{ item.item }}</span>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endfor %} -->

              <div class="c-callout u-align-centre">
                <p class="c-callout__title">{{ callout }}</p>
                <a href="#" class="c-btn" alt="Contattaci">Contattaci</a>
              </div>

            </div>
          </section>

          <section class="section u-align-centre u-space-vertical">
            <h4 class="o-section-title">Ci hanno già scelto</h4>
            <ul class="o-list o-list--wrap c-client">
              {% for brand in brands %}
                <li class="o-list__item">
                  <img class="c-client__brand u-transp" src="{{ brand.src }}" alt="{{ brand.alt }}">
                </li>
              {% endfor %}
            </ul>
          </section>

          <div class="container">
            <section id="section-history" class="section section--dark u-align-centre u-space-vertical">
              <h4 class="o-section-title o-section-title--inverse">Chi siamo</h4>
              <ul class="o-list o-list--wrap">
                {% for item in history %}
                <li class="c-timeslot">
                	<h2 class="c-timeslot__title">
                		<span class="c-timeslot__year">{{ item.year }}</span>
                		<span class="c-timeslot__desc">{{ item.title }}</span>
                	</h2>
                	<p class="c-timeslot__story">
                    {{ item.desc }}
                	</p>
              	</li>
                {% endfor %}
              </ul>
            </section>
          </div>

        </div>

        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
