.c-footer {
  font-family: $font-sans;
  padding: 2rem 0;
  position: relative;
  text-align: center;

  @include bp(large) {
    padding: 4rem 0;
    text-align: left;
  }

  &__aside {
    margin-bottom: 2rem;
    text-align: center;

    @include bp(large) {
      position: absolute;
      right: 2rem;
      text-align: right;
      top: 4rem;
    }
  }

  &__menu {
    margin-top: 2rem;
    text-align: center;
    width: 100%;

    @include bp(large) {
      margin: 2rem;
      text-align: right;
      width: auto;
    }

    .o-link {
      display: inline-block;
    }

    .o-list__item {
      display: block;
      margin-bottom: 2rem;

      @include bp(large) {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 2rem;
      }
    }
  }

  &__label {
    color: $color-gray-80;
    font-size: .75rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
  }
}
