// $BRAND ---------------------------------------------------------------------/

.c-brand {
  margin-bottom: 1rem;
  width: 20vw;
  @include transition(width .2 ease);

  @include bp(large) {
    margin-bottom: 1rem;
    max-width: 150px;
  }
}
