// $HERO ----------------------------------------------------------------------/

.c-hero {
  background-image: linear-gradient(225deg, #FF004E 0%, #FF6600 100%);
  height: 90vh;
  padding-top: 3vh;

  @include bp(large) {
    height: 80vh;
    padding: 8vh 4vh 0;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/logo-shape.svg') -50px 0 no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    @include bp(large) {
      background-size: auto;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;

    @include bp(medium) {
      left: 30px;
      right: 30px;
    }

    @include bp(large) {
      left: 60px;
      right: 60px;
    }
  }

  &__payoff {
    font-family: $font-sans;
    font-size: 2rem;
    font-style: italic; // $todo - use variable
    font-weight: 700; // $todo - use variable
    color: #FFE25E;
    letter-spacing: -1px;
    line-height: 0.9;
    position: relative;
    z-index: 1;

    @include bp(medium) {
      font-size: 2rem;
    }

    @include bp(large) {
      font-size: 3rem;
    }
  }

  &__title,
  &__intro {
    position: relative;
    z-index: 1;
    letter-spacing: -1px;
    line-height: 1.15;
  }

  &__title {
    font-style: italic;
    font-size: 2.75rem; // $todo - use variable
    color: $color-white;
    line-height: 1.15;

    @include bp(medium) {
      font-size: 4rem;
    }

    @include bp(large) {
      max-width: 70vw;
    }
  }

  &__intro {
    color: $color-white;
    line-height: 1.25; // $todo - use variable
    font-family: $font-sans;
    font-size: get-vw-bp-small(28px); // $todo - use variable
    margin-bottom: 10vh; // $todo - use variable

    @include bp(medium) {
      font-size: get-vw-bp-medium(40px); // $todo - use variable
    }

    @include bp(large) {
      font-size: get-vw-bp-large(36px); // $todo - use variable
    }
  }
}

.payoff__row {
  display: block;

  &:last-child {
    padding-left: 5%; // $todo - use variable
  }
}

.payoff__ampersand {
  color: $color-white;
  font-family: $font-serif;
  font-size: 65%; // $todo - use variable
  font-style: normal;
}

.offices {
  display: block;
  margin-bottom: 5rem;
}

.office-item {
  display: inline-block;

  @include bp(large) {
    margin-right: 2rem;
  }
}

.office-name {
  text-transform: uppercase;
  color: $color-white;
  font-family: $font-sans;
  font-size: .75rem;

  @include bp(large) {
    font-size: 1rem;
  }

  .o-icon {
    width: 1rem;
    height: 1rem;

    @include bp(large) {
      width: 2rem;
      height: 2rem;
    }
  }
}
