// $INTRO ---------------------------------------------------------------------/

.c-intro {
  @include align-items(center);
  background: #EFEDE6 url('../img/background-intro.png') 0 0 no-repeat;
  background-size: cover;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  margin-bottom: 5vh;
  min-height: 350px;
  padding: 4rem 2rem;
  z-index: 999;
  box-shadow: 0 0 30px rgba(0,0,0,.05);

  @include bp(medium) {
    padding: 4rem;
  }

  @include bp(xlarge) {
    padding: 6rem;
    font-size: 2.25rem;
  }

  &__text {
    font-family: $font-serif;
    line-height: 1.5;
    font-size: 1.25rem; // $todo - use variable

    @include bp(medium) {
      font-size: 1.75rem // $todo - use variable
    }

    @include bp(xlarge) {
      font-size: 2rem // $todo - use variable
    }
  }
}
