// $CARDS ---------------------------------------------------------------------/

.c-brand {
  float: right;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 20vw;
  @include transition(width .2 ease);

  @include bp(large) {
    max-width: 150px;
  }
}
