// $CARDS ---------------------------------------------------------------------/

.c-card {
  margin-bottom: 4rem;

  @include bp(medium) {
    margin-bottom: 8rem;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  &__container {
    background-color: $color-white;
    border-top: 2px solid $color-yellow;
    box-shadow: 0 0 30px rgba(0,0,0,.05);
    padding: 2rem;

    @include bp(large) {
      padding: 4rem;
    }
  }

  &__detail {
    margin-bottom: 2rem;
    text-align: center;

    @include bp(medium) {
      margin-bottom: 3rem;
    }

    .o-icon {
      margin-bottom: 1rem;
    }
  }

  &__evidence {
    color: $color-red;
    display: block;
    font-weight: $font-weight-black;
  }

  &__intro {
    font-family: $font-serif;
    font-style: italic;
    font-size: 1.375rem;
    line-height: 1.35;
    margin-bottom: 3rem;

    @include bp(large) {
      font-size: 1.5rem;
    }

    @include bp(xlarge) {
      font-size: 1.75rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: $font-weight-normal;
    line-height: 1;
    margin-bottom: 1rem;

    @include bp(medium) {
      font-size: 2.5rem;
    }

    @include bp(large) {
      font-size: 3rem;
      margin-bottom: 3rem;
      padding: 0 4rem;
    }
  }
}
