.c-cycle {
  background: $color-white url('../img/cycle-line.svg') left top no-repeat;
  margin-top: 1rem;

  @include bp(large) {
    background: $color-white url('../img/cycle-arrows.svg') center top no-repeat;
  }

  .c-card__detail {
    width: 100%;
    padding-left: 4rem;

    @include bp(large) {
      width: 50%;
      padding-left: 0;
    }

    .o-title {
      margin-bottom: 1rem;
    }

    .o-list__item {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: .25rem;

      @include bp(large) {
        margin-bottom: .5rem;
      }
    }
  }

  .c-card__detail:nth-of-type(1),
  .c-card__detail:nth-of-type(4) {

    @include bp(large) {
      padding-right: 20%;
      text-align: right;

      .o-bullet::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        right: 0;
        margin-left: 2rem; // $todo - use variable
        background-color: $color-red;
        position: absolute;
        top: 10px;
        @include transform(rotate(45deg));
      }
    }
  }

  .c-card__detail:nth-of-type(1),
  .c-card__detail:nth-of-type(2) {
    @include bp(large) {
      margin-bottom: 1rem;
      padding-top: 3rem;
    }
  }

  .c-card__detail:nth-of-type(2),
  .c-card__detail:nth-of-type(3), {

    @include bp(large){
      padding-left: 25%;
      text-align: left;

      .o-bullet::before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        left: 0;
        margin-right: 2rem; // $todo - use variable
        background-color: $color-red;
        position: absolute;
        top: 10px;
        @include transform(rotate(45deg));
      }
    }

    @include bp(xxlarge) {
      padding-left: 22%;
    }
  }

  @include bp(large) {
    .c-card__detail:nth-of-type(3) {
      order: 4;
    }

    .card__detail:nth-of-type(4) {
      order: 3;
    }
  }
}
