.c-callout {
  margin: 1rem auto;
  width: auto;

  @include bp(large) {
    max-width: 50vw;
  }

  &:before {
    background: $color-navyblue;
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto 2rem;
    width: 5rem;
  }

  &__title {
    font-family: $font-sans;
    font-style: italic;
    font-weight: 300;
    font-size: get-vw-bp-small(28px); // $todo - use variable
    line-height: 1.15;

    @include bp(medium) {
      font-size: get-vw-bp-medium(36px); // $todo - use variable
      margin: 2rem 0;
    }

    @include bp(large) {
      font-size: get-vw-bp-large(36px); // $todo - use variable
    }

    @include bp(xlarge) {
      font-size: get-vw-bp-xlarge(36px); // $todo - use variable
    }
  }
}
