// $INTRO ---------------------------------------------------------------------/

.c-intro {
  @include align-items(center);
  background: #EFEDE6 url('/assets/img/background-intro.png') 0 0 no-repeat;
  background-size: cover;
  @include flexbox;
  @include flex-direction(column);
  font-size: get-vw-bp-small(24px); // $todo - use variable
  @include justify-content(center);
  margin-bottom: 5vh;
  min-height: 350px;
  padding: 0 10vw;
  z-index: 999;

  @include bp(medium) {
    font-size: get-vw-bp-medium(36px); // $todo - use variable
    min-height: 400px;
  }

  @include bp(large) {
    font-size: get-vw-bp-large(36px); // $todo - use variable
  }

  @include bp(xlarge) {
    min-height: 585px;
  }

  &__text {
    font-family: $font-serif;
    line-height: 1.25;
    font-size: get-vw-bp-small(28px); // $todo - use variable

    @include bp(medium) {
      font-size: get-vw-bp-medium(28px); // $todo - use variable
    }

    @include bp(large) {
      font-size: get-vw-bp-large(28px); // $todo - use variable
    }
  }
}
