.c-cycle {
  /*
  background: $color-white url('../img/cycle-line.svg') left top no-repeat;
  margin-top: 1rem;

  @include bp(large) {
    background: $color-white url('../img/cycle-arrows.svg') center top no-repeat;
  }
  */

  .c-card__detail {
    width: 100%;
    text-align: left;

    @include bp(medium) {
      width: 50%;
    }

    @include bp(xlarge) {
      width: 25%;
    }

    .o-title {
      margin-bottom: 1rem;
    }

    .o-list__item {
      font-size: 1.25rem;
      line-height: 1.5;
      margin-bottom: .1rem;
      padding-left: 1.375rem;

      @include bp(medium) {
        margin-right: 2rem;
      }

      &:before {
        display: inline-block;
        content: '';
        width: 6px;
        height: 6px;
        margin-right: 1rem;
        margin-left: -1.5rem;
        background: $color-red;
        vertical-align: middle;
      }

      @include bp(large) {
        margin-bottom: .5rem;
      }
    }
  }
}
