// $HERO ----------------------------------------------------------------------/

.c-hero {
  background-image: linear-gradient(225deg, #FF004E 0%, #FF6600 100%);
  height: 90vh;
  padding-top: 3vh;

  @include bp(large) {
    height: 60vh;
    padding-left: 4vw;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: url('../img/logo-shape.svg') -50px 0 no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    @include bp(large) {
      background-size: auto;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
  }

  &__payoff {
    font-size: 8vw;
    font-weight: 700;
    font-style: italic;
    color: #FFE25E;
    letter-spacing: -1.29px;
    line-height: 56px;
    position: relative;
    z-index: 1;

    @include bp(medium) {
      font-size: 5vw;
    }
  }

  &__title,
  &__intro {
    position: relative;
    z-index: 1;
    letter-spacing: -1px;
  }

  &__title {
    font-style: italic;
    font-size: 11vw;
    color: $color-white;
    line-height: 1;

    @include bp(large) {
      font-size: 5vw;
    }
  }

  &__intro {
    font-size: 6vw;
    color: $color-white;
    margin-bottom: 10vh;

    @include bp(large) {
      font-size: 3vw;
    }
  }
}
