@font-face {
  font-family: 'GT Walsheim';
  src: url("/assets/webfonts/gt-walsheim-web.woff.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim';
  src: url("/assets/webfonts/gt-walsheim-regular-oblique-web.woff.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'GT Walsheim';
  src: url("/assets/webfonts/gt-walsheim-medium-web.woff.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim';
  src: url("/assets/webfonts/gt-walsheim-bold-web.woff.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim';
  src: url("/assets/webfonts/gt-walsheim-bold-oblique-web.woff.woff") format("woff");
  font-weight: 700;
  font-style: italic; 
}
