// $ICONS ---------------------------------------------------------------------/

.o-icon {
  vertical-align: middle;

  &--small {
    width: 2rem;
    height: 2rem;
  }

  &--medium {
    width: 3rem;
    height: 3rem;
  }

  &--large {
    width: 4rem;
    height: 4rem;
  }
}
