// $TEXT ----------------------------------------------------------------------/

.o-link {
  color: $color-red;
  text-decoration: none;

  &--gray {
    color: $color-gray;
    text-decoration: underline;
  }
}

.o-paragraph-intro {
  font-family: $font-serif;
  line-height: 1.5;
  font-size: 1.15rem;

  @include bp(large) {
    font-size: 1.25rem;
  }
}

.o-section-title {
  font-size: 1.15rem; // $todo - use variable
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  margin-bottom: 3rem;

  @include bp(large) {
    font-size: 2rem;
  }

  &--inverse {
    color: $color-white;
  }
}

.o-subhead {
  color: $color-navyblue;
  font-size: 2rem;
  font-style: italic;
  font-weight: $font-weight-bold;
}

.o-text {
  &--small {
    font-size: 75%;
  }
}

.o-text-copyright {
  color: $color-gray;
  margin: 2rem 0;
}

.o-title {
  color: $color-red;
  font-size: 1.5rem;
  font-weight: $font-weight-normal;

  @include bp(large) {
    font-size: 2rem;
  }
}

.o-text-uppercase {
  color: $color-white;
  font-family: $font-sans;
  font-size: .65rem;
  text-transform: uppercase;
}
