// $UTILITIES------------------------------------------------------------------/

.u-align-left {
  text-align: left;
}

.u-align-centre {
  text-align: center;
}

.u-align-right {
  text-align: right;
}

.u-space-base {
  margin-bottom: 1rem;
}

.u-space-double {
  margin-bottom: 2rem;
}

.u-space-large {
  margin-bottom: 3rem;
}

.u-space-right {
  &-base {
    margin-right: 1rem;
  }

  &-double {
    margin-right: 2rem;
  }

  &-large {
    margin-right: 3rem;
  }
}

.u-space-vertical {
  padding: 50px 0;

  @include bp(large) {
    padding: 100px 0;
  }
}

.u-transp {
  opacity: .5;
}

.u-unstyle {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-inline {
  display: inline-block;
  margin: 0 .5rem;
}

.is-locked,
.is-locked  body {
	height: 100%;
	overflow: hidden;
}
