// $UTILITIES------------------------------------------------------------------/

.u-align-left {
  text-align: left;
}

.u-align-centre {
  text-align: center;
}

.u-align-right {
  text-align: right;
}

.u-space-vertical {
  padding: 100px 0;
}

.u-transp {
  opacity: .5;
}
