// $UTILITIES------------------------------------------------------------------/

.u-align-left {
  text-align: left;
}

.u-align-centre {
  text-align: center;
}

.u-align-right {
  text-align: right;
}

.u-space-vertical {
  padding: 50px 0;

  @include bp(medium) {
    padding: 100px 0;
  }
}

.u-transp {
  opacity: .5;
}
