
.c-timeslot a, .u-dark strong {
    text-shadow: -.04em -.04em 0 #1F1C3D, .04em -.04em 0 #1F1C3D, -.04em .04em 0 #1F1C3D, .04em .04em 0 #1F1C3D
}

.c-timeline {
    background-color: #1F1C3D
}

.c-timeline__timeslots {
    list-style: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyIDciPjxwYXRoIGZpbGw9IiNEOEQ4RDgiIG9wYWNpdHk9IjAuMyIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNLjUgMXYxYzAgLjI4LjIyLjUuNS41cy41LS4yMi41LS41VjFjMC0uMjgtLjIyLS41LS41LS41Uy41LjcyLjUgMXoiLz48L3N2Zz4=);
    background-size: 4px;
    background-repeat: repeat-y;
    background-position: 50vw 0
}

.c-timeline__timeslots:before {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 4px;
    height: 100vw;
    background-color: #1F1C3D
}

.c-timeslot {
    position: relative;
    color: #fff;
    margin-top: -12vw;
    margin-bottom: 51vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 0
}

@media screen and (min-width:769px) {
    .c-timeline__timeslots {
        background: 0 0
    }

    .c-timeslot {
        margin-top: 0;
        display: block;
        min-height: 500px;
        max-height: 700px;
        margin-bottom: 0
    }
}

.c-timeslot a {
    color: #fff;
    background-image: linear-gradient(to top, transparent, transparent .28vw, #01E0CE .28vw, #01E0CE .392vw, transparent .392vw)
}

.c-timeslot h2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: center;
    margin-left: 0;
    position: relative;
    display: block;
    margin-bottom: 28vw
}

@media screen and (min-width:769px) {
    .c-timeslot a {
        background-image: linear-gradient(to top, transparent, transparent .1vw, #01E0CE .1vw, #01E0CE .14vw, transparent .14vw)
    }

    .c-timeslot h2 {
        text-align: left;
        top: 0;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 1.1em
    }
}

.c-timeslot:before {
    top: 32vw;
    position: absolute;
    left: calc(50vw - (50px / 2) + 2px);
    width: 50px;
    height: 50px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OSA0OSI+PGcgZmlsbD0iIzAxRTBDRSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSIyNC41IiBjeT0iMjQuNSIgcj0iMjQuMyIgb3BhY2l0eT0iLjEiLz48Y2lyY2xlIGN4PSIyNC41IiBjeT0iMjQuNSIgcj0iOC45Ii8+PC9nPjwvc3ZnPg==);
    z-index: 2;
    display: block
}

.c-timeslot:last-child {
    border-bottom: 3em solid #1F1C3D
}

@media screen and (min-width:769px) {
    .c-timeslot:before {
        position: absolute;
        top: 3.5em;
        left: 0;
        margin-left: calc(50vw - (50px / 2) + 2px)
    }

    .c-timeslot:after {
        content: '';
        display: block;
        position: fixed;
        left: 50%;
        background-color: #01E0CE;
        top: 0;
        height: 115vh;
        width: 2px;
        z-index: 11
    }

    .c-timeslot:last-child {
        height: 143vh;
        border-bottom: 0
    }
}

.c-timeslot:last-child::after {
    height: 135vh
}

.c-timeslot__year {
    font-size: 52px;
    font-size: 13.86667vw;
    color: #ED1848;
    display: block;
    line-height: 1.33;
    font-weight: 800
}

@media screen and (min-width:769px) {
    .c-timeslot__year {
        font-size: 76px;
        font-size: 5.27778vw;
        width: 45vw;
        display: inline-block;
        text-align: right
    }
}

.c-timeslot__title {
    font-size: 24px;
    font-size: 6.4vw;
    display: block;
    font-weight: 800;
    line-height: 1.32
}

@media screen and (min-width:769px) {
    .c-timeslot__title {
        font-size: 38px;
        font-size: 2.63889vw;
        width: 45vw;
        text-align: right;
        padding-left: 10vw
    }
}

.c-timeslot__story {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    font-size: 16px;
    font-size: 4.26667vw;
    position: relative;
    line-height: 1.55;
    margin: 70vw 11vw 0;
    z-index: 3
}

.c-timeslot__story ul {
    list-style-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAxMCI+PHBhdGggZmlsbD0iIzAxRTBDRSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMSAxLjRIMTN2LTFIMSIvPjwvc3ZnPg==)
}

.c-timeslot__picture {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    box-shadow: 0 5px 21px rgba(0, 0, 0, .06);
    position: absolute
}

@media screen and (min-width:769px) {
    .c-timeslot__story {
        font-size: 18px;
        font-size: 1.25vw;
        width: 45vw;
        padding-left: 10vw;
        margin-left: 0;
        margin-top: 0;
        text-align: justify
    }

    .c-timeslot__picture {
        margin-top: 2em;
        position: absolute;
        top: 56vh;
        max-width: none
    }
}

.c-timeslot__picture--primary {
    opacity: 1;
    width: 70vw;
    left: 30vw;
    top: 61vw;
    z-index: 400
}

@media screen and (min-width:769px) {
    .c-timeslot__picture--primary {
        width: 28vw;
        top: 3vw;
        right: 4vw;
        left: inherit
    }
}

.c-timeslot:nth-child(odd) .c-timeslot__picture--primary {
    left: 4vw;
    top: 51vw
}

.c-timeslot__picture--secondary {
    opacity: 1;
    z-index: 300;
    width: 44vw;
    top: 93vw
}

@media screen and (min-width:769px) {
    .c-timeslot:nth-child(odd) .c-timeslot__picture--primary {
        left: 54vw
    }

    .c-timeslot__picture--secondary {
        left: 60vw;
        top: 30vh;
        width: 21vw
    }
}

.c-timeslot:nth-child(odd) .c-timeslot__picture--secondary {
    left: 56vw;
    top: 74vw
}

@media screen and (min-width:769px) {
    .c-timeslot:nth-child(odd) .c-timeslot__picture--secondary {
        left: inherit;
        top: 22vw;
        right: 5vw
    }
}

.c-timeslot__picture--tertiary {
    opacity: 1;
    z-index: 200;
    width: 35vw;
    top: 50vw;
    left: 8vw;
    margin-bottom: -24vw
}

@media screen and (min-width:769px) {
    .c-timeslot__picture--tertiary {
        top: -12vh;
        left: 54vw;
        width: 14vw
    }
}

.c-timeslot:nth-child(odd) .c-timeslot__picture--tertiary {
    left: -3vw;
    top: 95vw
}

@media screen and (min-width:769px) {
    .c-timeslot:nth-child(odd) .c-timeslot__picture--tertiary {
        left: inherit;
        right: 5vw;
        top: -11vh
    }

    @supports ((-webkit-perspective:1px) or (perspective:1px)) and (not (-webkit-overflow-scrolling:touch)) {
        .c-timeline__timeslots {
            height: 100vh;
            width: 100vw
        }

        .c-timeslot__picture {
            width: auto
        }

        .c-timeslot__picture--primary {
            right: 0;
            left: auto;
            top: 18vh
        }

        .c-timeslot:nth-child(odd) .c-timeslot__picture--primary {
            top: 18vh
        }

        .c-timeslot__picture--secondary {
            top: 60vh
        }

        .c-timeslot:nth-child(odd) .c-timeslot__picture--secondary {
            right: -11vw;
            top: 60vh
        }

        .c-timeslot__picture--tertiary {
            top: 40vw;
            left: 55vw
        }

        .c-timeslot:nth-child(odd) .c-timeslot__picture--tertiary {
            right: -35vw;
            top: 40vw
        }
}
}

.c-timeslot--2004::after {
    top: 36vw;
    position: absolute;
    left: calc(50vw - (2px / 2) + 2px);
    width: 2px;
    height: 197vw;
    background-color: #1F1C3D;
    z-index: 0;
    display: block
}

@media screen and (min-width:769px) {
    .c-timeslot--2004::after {
        display: block;
        position: fixed;
        left: 50%;
        background-color: #01E0CE;
        top: 0;
        height: 115vh;
        width: 2px;
        z-index: 11
    }
}
