@import "tools.mixins";

.c-timeslot h2 {
    text-align: center;
    margin-left: 0;
    position: relative;
    display: block;
    width: 100%;
}

@media screen and (min-width:769px) {
    .c-timeslot a {
        background-image: linear-gradient(to top, transparent, transparent .1vw, #01E0CE .1vw, #01E0CE .14vw, transparent .14vw)
    }

    .c-timeslot h2 {
        display: inline-block;
        text-align: left;
        top: 0;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 1.1em
    }
}



.c-timeslot:last-child {
    border-bottom: 3em solid #1F1C3D
}

@media screen and (min-width:769px) {
    .c-timeslot:before {
        position: absolute;
        top: 3.5em;
        left: 0;
        margin-left: calc(50vw - (50px / 2) + 2px)
    }

    .c-timeslot:after {
        content: '';
        display: block;
        position: fixed;
        left: 50%;
        background-color: #01E0CE;
        top: 0;
        height: 115vh;
        width: 2px;
        z-index: 11
    }

    .c-timeslot:last-child {
        height: 143vh;
        border-bottom: 0
    }
}

.c-timeslot:last-child::after {
    height: 135vh
}

.c-timeslot__year {
    font-size: 52px;
    font-size: 13.86667vw;
    color: #ED1848;
    display: block;
    line-height: 1.33;
    font-weight: 800
}

@media screen and (min-width:769px) {
    .c-timeslot__year {
        font-size: 76px;
        font-size: 5.27778vw;
        width: 45vw;
        display: inline-block;
        text-align: right
    }
}

.c-timeslot__title {
    font-size: 24px;
    font-size: 6.4vw;
    display: block;
    font-weight: 800;
    line-height: 1.32
}

@media screen and (min-width:769px) {
    .c-timeslot__title {
        font-size: 38px;
        font-size: 2.63889vw;
        width: 45vw;
        text-align: right;
        padding-left: 10vw
    }
}

.c-timeslot__story {
    font-size: 16px;
    font-size: 4.26667vw;
    position: relative;
    line-height: 1.55;
    z-index: 3
}

@media screen and (min-width:769px) {
    .c-timeslot__story {
        font-size: 18px;
        font-size: 1.25vw;
        float: left;
        width: 50vw;
        text-align: justify
    }
}
